version: 2
updates:
  - package-ecosystem: "gradle"
    directories:
      - "/"
      - "/SpinnerHUD/"
      - "/demo/"
    schedule:
      interval: "weekly"
      timezone: "Asia/Tokyo"
      day: "friday"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      timezone: "Asia/Tokyo"
      day: "friday"

