name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    env:
      USERNAME: suer
      TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version-file: .java-version
      - uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build SpinnerHUD
        run: ./gradlew :SpinnerHUD:ktlint :SpinnerHUD:test :SpinnerHUD:build :SpinnerHUD:publish
